<form>
  <input type='text' placeholder="Your Name" ng-model="ctrl.formdata.name" />
  <textarea type='text' placeholder="Thoughts?" ng-model="ctrl.formdata.content"></textarea>
  <select ng-model="ctrl.formdata.rating">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3" selected>3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
  <input type="hidden" ng-model='ctrl.barOneID'>
  <input type="submit" value="Create New Review" ng-click="ctrl.addReview(barOneID)"/>
</form>
