<h1 ng-click="ctrl.showCityPage = true; ctrl.showShowPage = false">Sips & Bites</h1>
<div class="container1">
  <img id="barpic" src="{{ctrl.img_url}}" alt="bar pic">

<div class="container2">
  <h4>{{ctrl.name}}</h4>
  <br>
  <p>{{ctrl.special}}</p>
  <br>
  <p>{{ctrl.time}}</p>
</div>
</div>


<hr>
<div class="space">
<table align="center">
<tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Review</th>
    <th>Rating</th>
</tr>

<tr ng-repeat="rev in ctrl.reviews">
  <td ng-click="ctrl.deleteReview(rev.id)">X</td>
  <td ng-click="ctrl.editform = true; ctrl.editOne = rev.id; ctrl.editform = true">UPDATE</td>
  <td>{{rev.name}}</td>
  <td>{{rev.content}}</td>
  <td>{{rev.rating}}</td>
</tr>
</table>
</div>


  <h2 ng-click="ctrl.reviewform = true">Create Review Form</h2>
  <div ng-if="ctrl.reviewform === true" ng-include="'partials/createRev.html'"></div>
  <div ng-if="ctrl.editform === true" ng-include="'partials/editform.html'"></div>
